.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles for navbar */
.navbar {
  background-color: transparent !important; /* Set the background to transparent or any color */
}

.navbar-light .navbar-toggler {
  border-color: #007bff; /* Color of the toggler icon */
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml, ..."); /* Update this with your custom SVG or keep Bootstrap's default */
}

/* Custom colors for navigation links */
.nav-link {
  color: #070bdd !important; /* Change the color of nav text */
}

/* Change nav link colors on hover */
.nav-link:hover {
  color: #0056b3 !important; /* Darker shade for hover effect */
}

/* Ensure that navbar sticks to the top */
.navbar.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}